rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Public can create new survey docs; no read/update/delete
    match /survey/{document=**} {
      allow create: if true;
      allow read, update, delete: if false;
    }
  }
}


